@import url('fonts.css');

:root {
  --index: calc(0.75vw + 2vh);

  /* Colors  */
  --text-light: #383838;
  --bg-light: #e7e7e7;

  --bento-block: #fcfcfc;

  --not-active: #c0c0c0;

  --accent-color-1: #ffa26b;
  --accent-color-2: #6979f8;
  --accent-color-3: #ff647c;

  /* Radius */
  --br-small: 6px;
  --br-big: 12px;

  /* Toast */
  --toast-success: #00c48c;
  --toast-warning: #ffa26b;
  --toast-error: #ff647c;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: MontserratA Regular;
}

body,
#app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

hr {
  border: 1px solid #e7e7e7;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none !important;
}

.leaflet-control-zoom > * {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: var(--br-small) !important;
  font-family: MontserratA Regular;
  font-size: 36px !important;
  color: #4F4F4F !important;
  box-shadow: 0 0 15px #00000033 !important;
  -webkit-border-radius: var(--br-small) !important;
  -moz-border-radius: var(--br-small) !important;
  -ms-border-radius: var(--br-small) !important;
  -o-border-radius: var(--br-small) !important;
}
